/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-may-2017, 18:51:01
    Author     : carlos
*/
html , body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
}
header{
    width: 100%;
    height: 40px;
    background: #121212;
}
.nav-page{
    width: 100%;
    height: 100px;
    background: #000000;
}
.image-main{
    background-image: url("#{resource['pictures:originmu.jpg']}");
    width: 100%;
    height: 400px;
    background-position: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right,#111111,#131313,#111111);
    width: 100%;
    
}
.top{
    color: red;
}
.menu {
    width: 50%;
    position: absolute;
    right:0;
    box-sizing: border-box;
}
.menu > ul li  {
    float:left;
    list-style: none;
}
.menu > ul li a {
    color:#ffffff;
    display: block;
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding:40px 10px;
}
.server-estadis .normal {
    width: 400px;
    height: 370px;
    background: rgba(45,45,45,0.5);
    margin-right: 150px;
    border-radius: 5px;
    border:rgba(255,255,255,0.1) solid 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vip {
    width: 400px;
    height: 370px;
    background: rgba(45,45,45,0.5);
    
    border-radius: 5px;
    border:rgba(255,255,255,0.1) solid 1px;
    
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background: #1D1729;
}
.footer-temp {
    display: flex;
    width: 80%;
    height: 200px;
    border:#ffffff solid 1px;
}
.normal .ui-widget {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    width: 90%;
   
}
.normal .ui-widget-content {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    color:#ffce69;
    
    
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0px 0px 3px rgba(255,172,0,0.7);
}
.server-estadis {
    display: flex;
    
}
.news-faz {
    width: 90%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
.body::after {
    content: "...";
}

.ui-widget-content {
    background: none;
    border-color: rgba(255,255,255, 0);
    text-align: justify;
    color: #ffffff;
}
.title {
    color: #ffffff;
    font-size: 20px;
}
.type {
    display: inline-block;
    color:#121212;
    background: #2e2540;
    font-size: 14px;
    font-weight: bold;
    padding: 1px 4px;
    border-radius: 3px;
}
.body{
    color:#bfbfbf;
    font-size: 15px;
}
.date {
    display: block;
    font-size: small;
    text-align: right;
    font-family: Tahoma, Geneva, sans-serif;
}
.ui-corner-all{
    background: #161616;
    border:#252511 solid 1px;
    padding: 10px 5px 3px 5px;
    border-radius: 3px;
    box-sizing: border-box;
}
.rank-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.rank-pk,.rank-char,.rank-guild, .lord-cs {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    width: 100%;
    height: 50%;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1em;
    z-index: 2;
}
.rank-pk {
    background-image: url("#{resource['pictures:rankguild.jpg']}");
    background-size: cover;
    background-position: 0 30%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.rank-char {
    flex-direction: row-reverse;
    background-image: url("#{resource['pictures:rankchar.jpg']}");
    background-size: 100% 100%;
    background-position: 0 50%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.rank-guild {
    background-image: url("#{resource['pictures:rankpk.jpg']}");
    background-size: cover;
    background-position: 0 50%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.ranking{
    width: 100%;
    height: 200%;  
    position: relative;
    z-index: 0;
}
.rank-parse {
    position: relative;
    display: flex;
    width: 18em;
    height: 14em;
    flex-direction: column;
    margin-right: 100px;
    z-index: 2;
    perspective: 600px;
}
.cube-rank {
    position: absolute;
    width: 100%;
    height: 100%;
   transform-style: preserve-3d;
}
.rankPK-name {
    display: flex;
    transform: rotateY(-15deg);
    padding: 0;
    margin-bottom: 3px;
    justify-content: center;
    color: #9a936d;
}
.rank-char  .rankPK-name {
    transform: rotateY(15deg);
}
.rankPK-name:first-child {
    width: 21em;
    margin-left: -20px;
}
.rankPK-name p {
    margin-right: 4px;
    font-size: 1.5em;
    display: block;
}
.rankPK-name:first-child p{
    font-size: 2em;
    font-weight: bold;
}
.shadows {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("#{resource['pictures:shadows.png']}");
    opacity: 1;
    background-repeat: repeat;
   z-index: 1;
}
.img-rankelf {
    z-index: 2;
    margin-left: -50px;
    align-self: flex-end;
}
.img-rankdw {
    z-index: 2;
}
.img-rankdk {
    z-index: 2;
}
.lord-cs{
    position: relative;
    height: 50%;
    background-image: url("#{resource['pictures:castle.jpg']}");
    background-size: cover;
    z-index: 0;
}
.lord-cs .rank-parse img {
     border-radius: 50%;
     border:#bfbfbf solid 1px;
}
.img-rankcs {
    z-index: 2;
    margin-left: 50px;
    width: 180px;
}

/* style footer 
*/
.footer-temp .ui-clock , .footer-temp .ui-corner-all, .footer-temp .ui-widget-header {
    background: none;
    margin:0;
    padding: 0;
    border: none;
    text-shadow: none;
}
.footer-temp label {
    font-size: 1.5em;
    font-weight: bold;
    color:#ffb51d;
}
.clock {
    display: flex;
    flex-direction: column;
    width: 30%;
}
#clock-client {
    color: #ff3d00;
    font-size: 2.5em;
    font-weight: bold;
}
#clock-client-day {
    color: #312744;
    font-size: small;
   
}
